.search-results {
    column-count: 4;
    column-gap: 15px;
    margin: 50px;
}

.images {
    display: inline-block;
    width: 100%;
    margin-top: 15px;
}

.images img {
    display: block;
    width: 100%;
    border-radius: 25px;
}

@media only screen and (max-width: 750px) {
    .search-results {
        column-gap: 5px;
        margin: 25px;
    }

    .images {
        margin-top: 5px;
    }

    .images img {
        border-radius: 5px;
    }
}